<%= game_state(@tally.game_state) %>

<div class="row" >
    <div class="col-md-4" >

    </div>
    <div class="col-md-7 offset-md-1" >
        <%= "_status.html.eex", tally: @tally, conn: @conn%>
    </div>
</div>

</form>
